@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-size: 62.5%;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  background-image: url(/images/sunset-tree-lake-nature-art.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;
  background-color: hsl(32, 54%, 57%);
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.form1 {
  flex-direction: row;
  margin: 2rem;
  width: min(50%, 70rem);
}

.input1 {
  font-size: 2rem;
  padding: 1rem;
  width: 100%;
}

.city-info {
  padding: 1rem;
  font-size: 2rem;
  margin: 2rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  /* justify-content: space-between; */
  width: 40%;
  color: white;
  border: solid;
  border-width: 0.2rem;
  background-color: rgba(95, 62, 62, 0.61);
  border-radius: 1rem;
}

.btn {
  font-size: 2rem;
  padding: 1rem;
  background-color: cornflowerblue;
}

.btn:hover {
  background-color: rgb(62, 91, 145);
}

.btn:active {
  background-color: cornflowerblue;
}

.temp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

